body>footer {
    background-image: linear-gradient(rgb(1, 11, 37), rgb(7, 7, 7), rgb(5, 5, 5), rgb(2, 1, 8));
    display: flex;
    flex-direction: column;
    padding: 5% 20%;
  }
  
  body>footer>.footerh3nome-footerh3sociais {
    display: flex;
    justify-content: space-between;
  }
  
  
  body>footer>.footerh3nome-footerh3sociais>.footer-h3-nome {
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 143px;
  }
  
  body>footer>.footerh3nome-footerh3sociais>.footer-h3-nome p {
    line-height: 200%;
  }
  
  body>footer>.footerh3nome-footerh3sociais>.footer-h3-sociais {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  body>footer>.footerh3nome-footerh3sociais>.footer-h3-sociais h3 {
    margin-right: 56px;
  }
  
  body>footer>.footerh3nome-footerh3sociais>.footer-h3-sociais>.footer-h3-sociais-img {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2px;
    margin-top: 30px;
  }
  
  body>footer>.footer-traço {
    border-bottom: 1px solid rgba(245, 245, 245, 0.603);
    display: flex;
    margin-top: 8%;
  }
  
  footer>.footercopyright {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  footer>.footercopyright>a {
    color: white;
    text-decoration: underline;
    margin-left: 10px;
  }
  
  
  
  